 body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: rgba(75, 75, 75, 1);
 }

header {
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
}

header nav ul {
  display: flex;
  margin-right: 1.5rem;

}
nav li {
  padding-left: 1rem;
}


header .logo {
  display: flex;
  align-items: center;
  color: rgb(155, 155, 155, 1);
  line-height: 32px;
}
.logo a {
  display: flex;
  align-items: center;
}

header .logo img {
  margin-left: 1.5rem;
}

header .logo strong {
  font-weight: bolder;
    color: rgba(75, 75, 75, 1);
}

.mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  header .desktop {
    display: none;
  }

  header .logo {
    display: none;
  }

  header .mobile {
    display: inline-block;
    width: 100%;
  }

  nav ul {
    justify-content: space-between;
    align-items: center;
  }

  li a:hover {
    border: 1px rgba(75, 75, 75, 1) solid
    transition: border 200ms linear;
  }

}

.banner-container {
  display: flex;
  position: relative;
  background-color: rgba(215, 215, 215, 1); /*gray background */
    top: 65px;
}

.banner h1 {
  font-size: 3rem;
  font-weight: bold;
}

.banner h2 {
  font-size: 2rem;
  padding: 1.5rem 0;
}

.banner .btn {
  font-size: 1.5rem;
  background-color: rgba(75, 75, 75, 1);
  border: 1px solid rgba(75, 75, 75, 1);
  color: rgba(255, 255, 255, 1);
  padding: 0.5rem 0;
  padding-right: 4rem;
  text-align: center;
}

.banner .btn:hover {
  background-color: rgba(215, 215, 215, 1);
  color: rgba(75, 75, 75, 1);
  transition: background-color 100ms ease-in 50ms, color 100ms ease-in 50ms;
}

/* Style the information section */

.information-container {
  position: relative;
  background-color: rgba(243,243,243,1);
  top: 65px;
}

.container-100 { /* Default container for horizontal section */
  position: relative;
  display: flex;
}

.container-60 { /* Used to fill up 60% of a horizontal container */
  width: 60%;
/*  min-width: 60%;
  max-width: 60%; */
  padding: 2rem 1.5rem;
}

.container-60 img {
  width: 100%; /* ensures the image does not overflow the width */
  height: auto;

}

.container-60 video {
  width: 100%; /* ensures the video does not overflow the width */
}

.container-60 h1 {
  margin: 1.5rem 0 2rem 0;
  font-size: 2rem;
  font-weight: bolder;
}

.main-info-text .author {
  margin: 2rem 0 2rem 0;
  font-size: 0.8rem;
  font-weight: bold;
}

.container-40 {
  width: 40%;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container-40.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 480px) {
  .container-60 {
    padding: 0;
    width: auto;
    margin: 0;
  }
  .container-100.banner {
    display: flex;
    flex-direction: column;
  }

  .container-40 {
    width: auto; /*sets the container to take up the full amount of parent) */
    margin: 0;
  }
  .container-40.information {
    width: auto;
    margin: 0;
    padding: 0;
  }
}

}

.container-60 img {
  width: 100%; /* ensures the image does not overflow the width */
  height: auto;
}

.banner h1 {
  font-size: 2rem;
  font-weight: bold;
}

.banner h2 {
  font-size: 1.2rem;
  padding: 1.5rem 0;
}

.banner .btn {
  font-size: 1.2rem;

  padding: 0.5rem 0;
  margin-right: 0;
  text-align: center;

}

.info {
  display: flex;

}

.info-image {
  min-width: 35%;
  margin: 1rem;
  background-size: contain;
  background-repeat: no-repeat;

}

.info-image.orientation {
  background-image: url('../../images/information-orientation.jpg');
}

.info-image.campus {
    background-image: url('../../images/information-campus.jpg');
}

.info-image.guest-lecture {
    background-image: url('../../images/information-guest-lecture.jpg');
}

.info-image:after { /* found a hack to keep the proportions of the image */
  content: "";
  display: block;
  padding-bottom: 100%;
}



@media only screen and (max-width: 480px) {
  .info-image {
    background-size: contain;
    margin: 0;
  }
  .info-image.orientation {
    background-image: url('../../images/information-orientation-mobile.jpg');
  }

  .info-image.campus {
      background-image: url('../../images/information-campus-mobile.jpg');
  }

  .info-image.guest-lecture {
      background-image: url('../../images/information-guest-lecture-mobile.jpg');
  }
  .info-image:after { /* found a hack to keep the proportions of the image */
    content: "";
    display: block;
    padding-bottom: 50%;
  }
}

.information-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.information-text h1 {
  font-weight: bold;
  font-size: 1.4rem;
}

.information-text p {
  margin: 0.5rem 0;
}

.information-text a {
  color: rgba(84, 149, 226, 1);
}

.info.guest-lecture {
  background-color: rgba(215,215,215, 1)
}

@media only screen and (max-width: 480px) {
  .information-container {
    background-color: white;
  }

  .container-60.information {
    display: none;
  }

  .container-40.information {
    width: 100%;
    /*margin: 0.5rem;*/
  }

  .info {
    display: flex;
    flex-direction: column;
    width: auto;

  }


  .information-text {
    padding-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .info.guest-lecture {
    background-color: white;
  }

}


.course-container {
  background-color: rgba(215, 215, 215, 1); /*gray background */
  padding: 0 3.5rem;
  top: 65px;
  position: relative;
}

.container-header h1 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.courses {
  display: flex;
  margin-top: 1rem;
  padding-bottom: 2rem;
}

.courses.mobile {
  display: none;
}

.course {
  background-color: white;
  margin: 0 1rem ;
  width: 33%;
  padding-bottom: 1rem;

}

.course:hover {
  opacity: 0.5;
  transition: opacity 300ms linear;
}

.course img {
  width: 100%;
}

.course h1 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.courses p {
  margin-bottom: 0.5rem;
  padding-left: 1rem;
}

/* Styling for the mobile courses section
*/
@media only screen and (max-width: 480px) {
  .course-container {
    background-color: white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .courses.level-1 {
    display: none;
  }

  .courses.level-2 {
    display: none;
  }

  .courses.mobile {
    display: flex;
    flex-direction: column;
  }
  .courses.mobile ul {

  }

  .courses.mobile li {
    padding-left: 1rem 1rem 1.5rem 1rem;
    background-color: rgba(215, 215, 215, 1);
    font-size: 1.5rem;
    font-weight: bold;
  }

  .mobile .btn {
    font-size: 1rem;
    background-color: rgba(75, 75, 75, 1);
    padding: 1.25rem;
    text-align: left;
    margin-top: 1rem;
    border: 1px solid rgba(215, 215, 215, 1);
  }
  .mobile .btn:hover {
    background-color: white;
    transition: background-color 400ms ease-out;
  }

}

.thesis-container {
  background-color: rgba(243, 243, 243, 1);
  top: 65px;
  position: relative;
}

.info-image.now-and-then{
  background-image: url('../../images/thesis-now-and-then.jpg');
}

.info-image.fisma{
  background-image: url('../../images/thesis-fisma.jpg');
}

.info.fisma {
  background-color: rgba(215,215,215, 1)
}

footer nav ul {
  display: flex;
  margin-right: 1.5rem;
}

.container-footer {
  background-color: rgba(243, 243, 243, 1);
  position: relative;
  top: 65px;
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  padding: 1rem 1.5rem 3rem 1.5rem;
}

/* Styling for the theis section mobile display */
@media only screen and (max-width: 480px) {
  .container-footer {
    font-size: 0.75rem;
      padding: 1rem 1.5rem 1rem 1.5rem;
  }

  .thesis-container {
    background-color: white;
  }

  .main-info-text.thesis {
    display: none;
  }

  .container-40.thesis {
    display: none;
  }

  .footer {
    display: none;
  }
}
