 body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: rgba(75, 75, 75, 1);
 }

header {
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
}

header nav ul {
  display: flex;
  margin-right: 1.5rem;

}
nav li {
  padding-left: 1rem;
}

header .logo {
  display: flex;
  align-items: center;
  color: rgb(155, 155, 155, 1);
  line-height: 32px;
}
header .logo img {
  margin-left: 1.5rem;
}


header .logo strong {
  font-weight: bolder;
    color: rgba(75, 75, 75, 1);
}

.banner-container {
  display: flex;
  position: relative;
  background-color: rgba(215, 215, 215, 1); /*gray background */
    top: 65px;
}


.banner h1 {
  font-size: 3rem;
  font-weight: bold;
}

.banner h2 {
  font-size: 2rem;
  padding: 1.5rem 0;
}

.banner .btn {
  font-size: 1.5rem;
  background-color: rgba(75, 75, 75, 1);
  color: rgba(255, 255, 255, 1);
  padding: 0.5rem 0;
  margin-right: 4rem;
  text-align: center;
}

/* Style the information section */

.information-container {
  position: relative;
  background-color: rgba(243,243,243,1);
      top: 65px;
}

.container-100 { /* Default container for horizontal section */
  position: relative;
  display: flex;


}

.container-60 { /* Used to fill up 60% of a horizontal container */
  min-width: 60%;
  max-width: 60%;
  margin: 2rem 1.5rem;
}

.container-60 img {
  width: 100%; /* ensures the image does not overflow the width */
  height: auto;
}

.container-60 video {
  width: 100%; /* ensures the video does not overflow the width */
}

.container-60 h1 {
  margin: 1.5rem 0 2rem 0;
  font-size: 2rem;
  font-weight: bolder;
}

.main-info-text .author {
  margin: 2rem 0 2rem 0;
  font-size: 0.8rem;
  font-weight: bold;
}

.container-40 {
  margin: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container-40.banner {
  margin: 2rem 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;*/
}

.info {
  display: flex;


}

.info.orientation img {
  margin-top: 0;
}

.info img {
  width: 35%;
  align-self: flex-start;
  margin: 16px;
}

.information-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.information-text h1 {
  font-weight: bold;
  font-size: 1.4rem;
}

.information-text p {
  margin: 0.5rem 0;
}


.information-text a {
  color: rgba(84, 149, 226, 1);
}

.info.guest-lecture {
  background-color: rgba(215,215,215, 1)

}

.course-container {
  background-color: rgba(215, 215, 215, 1); /*gray background */
  padding: 0 3.5rem;
      top: 65px;
      position: relative;
}

.container-header h1 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding: 2rem;
}

.courses {
  display: flex;
  padding-bottom: 2rem;
}

.course {
  background-color: white;
  margin: 0 1rem ;
  width: 33%;
  padding-bottom: 1rem;

}

.course img {
  width: 100%
}

.course h1 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.courses p {
  margin-bottom: 0.5rem;
  padding-left: 1rem;
}

.thesis-container {
  background-color: rgba(243, 243, 243, 1);
      top: 65px;
      position: relative;
}
