 body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: rgba(75, 75, 75, 1);
 }

header {
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav ul {
  display: flex;
  margin-right: 1.5rem;

}
nav li {
  padding-left: 1rem;
}

header .logo {
  display: flex;
  align-items: center;
  color: rgb(155, 155, 155, 1);
  line-height: 32px;
}
header .logo img {
  margin-left: 1.5rem;
}


header .logo strong {
  font-weight: bolder;
    color: rgba(75, 75, 75, 1);
}

.banner {
  position: relative;
  top: 65px;
}
